.header-styled {
  width: auto;
  text-align: center;
  padding: 2px 1rem;
  border-bottom: solid 1px rgb(184, 182, 181);
}
.body-styled {
  text-align: center;
}
.link-styled {
  border-style: solid;
  border-radius: 16px;
  padding: 0 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.div-styled {
  margin-top: 10px;
}
